<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta profile="http://www.w3.org/2005/10/profile" />
    <link rel="icon"
          type="image/png"
          href="https://localhost:44390/wwwroot/global.png" />
    <title>Disciplina</title>
    <link href="/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/style.css">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Acadêmico</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="menu" class="nav navbar-nav">
                </ul>
                <ul id="statusLogin" class="nav navbar-nav navbar-right">
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>



</body>
</html>