<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta profile="http://www.w3.org/2005/10/profile" />
    <link rel="icon"
          type="image/png"
          href="https://localhost:44390/wwwroot/global.png" />
    <title>College Web API</title>
    <link href="/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/style.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Acadêmico</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul id="menu" class="nav navbar-nav">
                </ul>
                <ul id="statusLogin" class="nav navbar-nav navbar-right">
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container topPage">

        <div class="registrationHeader">
            <h2 id="title">Cadastrar Aluno</h2>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary pull-right" onclick="novoAluno()">
                Cadastrar
            </button>
            <hr />
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nome:</td>
                    <td>Sobrenome:</td>
                    <td>Telefone:</td>
                    <td>Matrícula:</td>
                    <td>Opções</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="modalTitle">Cadastrar Aluno</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label>Nome: </label><input class="form-control" id="Name" type="text">
                    </div>
                    <div class="form-group">
                        <label>Sobrenome: </label><input class="form-control" id="LastName"
                                                         type="text">
                    </div>
                    <div class="form-group">
                        <label>Telefone: </label><input class="form-control" id="Phone" type="text">
                    </div>
                    <div class="form-group">
                        <label>Matrícula: </label><input class="form-control" id="Registry"
                                                         type="text">
                    </div>
                    <div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="btnSave" onclick="Register()">Cadastrar</button>
                    <button class="btn btn-default" id="btnCancel" onclick="Cancel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="/wwwroot/js/script.js"></script>

    <script>

        (() => {
            var statusLogin = document.querySelector('#statusLogin');
            var menu = document.querySelector('#menu');

            if (sessionStorage.getItem('token') != null) {

                /*
                if () {

                    menu.innerHTML = `
                    <li><a href="#disciplina">Disciplina</a></li>
                    ` 
                }
                else {

                    menu.innerHTML = `
                    <li class="active"><a href="#">Aluno</a></li>
                    `
                }
                */

                menu.innerHTML = `
                    <li class="active"><a href="#">Aluno</a></li>
                    <li><a href="#disciplina">Disciplina</a></li>
                    `

                statusLogin.innerHTML = `<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">${sessionStorage.getItem('username')}
                        <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Perfil</a></li>
                                <li><a href="#">Configuração</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" onclick="logout()">Sair</a></li>
                            </ul>
                        </li >`
            }
            else {
                statusLogin.innerHTML = `<li><a href="https://localhost:44390/views/login.html">Entrar</a></li>`;
                window.location.href = "https://localhost:44390/views/login.html";
            }
        })()

        function logout() {
            sessionStorage.removeItem('token');
            window.location.href = "https://localhost:44390/views/login.html";
        }

    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/wwwroot/js/bootbox.min.js"></script>
</body>

</html>