<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/wwwroot/css/login.css">
</head>

<body>

    <div class="container">
        <form class="form-signin" onsubmit="login()">
            <h2 class="form-signin-heading">Acadêmico</h2>

            <label for="Nome" class="sr-only">Nome</label>
            <input type="text" id="Nome" class="form-control" placeholder="Nome" required="" autofocus="">
            <label for="Senha" class="sr-only">Senha</label>
            <input type="password" id="Senha" class="form-control" placeholder="Senha" required="">

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Lembre-me
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>

    <script>
        var login = function () {
            event.preventDefault();

            var Nome = document.querySelector('#Nome').value;
            var Senha = document.querySelector('#Senha').value;

            var xhr = new XMLHttpRequest();

            xhr.open('POST', 'https://localhost:44390/token', true)
            xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded');

            xhr.onload = function () {
                var resultado = JSON.parse(this.responseText);
                sessionStorage.setItem('token', `${resultado.token_type} ${resultado.access_token}`);
                verificar();
            }

            xhr.send(`grant_type=password&Nome=${Nome}&Senha=${Senha}`);

        }

        var verificar = function () {
            // Creating XML Http Request
            var xhr = new XMLHttpRequest();

            // Method open, assyncronous call
            xhr.open(`GET`, `https://localhost:44390/api/Student/Recover`, true);
            xhr.setRequestHeader('Authorization', sessionStorage.getItem('token'));
            
            xhr.onerror = function () {
                console.log('ERRO', xhr.readyState);
            }

            // Creating anonymous function
            xhr.onreadystatechange = function () {
                var result = this.responseText;
                window.location.href = "https://localhost:44390/views/index.html";
            }

            // AJAX call
            xhr.send();
        }
    </script>
</body>
</html>